@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #129799;
    padding: 8% 2% 8% 2%;
    width: 100%;
}

.nav1 ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.nav1 a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #F7F7F7;
}

.nav1 li {
    list-style: none;
    padding: 10% 10% 10% 10%;
}

.div1 {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.div1 h1 {
    margin-top: 15%;
    font-family: 'Roboto', sans-serif;
    color: #F7F7F7;
    font-size: x-large;
}

.div1 img {
    width: 100%;
}

.nav2 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav2 a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #F7F7F7;
}

.nav2 li {
    list-style: none;
    margin: 0% 0% 5% 0%;
}

main {
    background-color: #FFA185;
    padding: 4% 4% 2% 4%;
    width: 100%;
}

main h2 {
    font-family: 'Roboto', sans-serif;
    color: #F7F7F7;
    font-size: large;
    text-transform: uppercase;
}

main p {
    font-family: 'Roboto', sans-serif;
    margin: 5% 0% 5% 0%;
}

.fig1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.fig1 img {
    width: 100%;
    height: 75%;
    margin-bottom: 5%;
}

main a {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.footer {
    background-color: #129799;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 4% 8% 4%;
    width: 100%;
}

.fig2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin: 0% 0% 10% 0%;
}

.fig2 img {
    width: 20%;
    height: auto;
}

.fig2 img:hover {
    cursor: pointer;
}

.nav3 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav3 a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #F7F7F7;
}

.nav3 li {
    list-style: none;
    margin: 0% 0% 10% 0%;
}

@media (min-width: 820px) {

    .fig2 {
        width: 35%;
        margin: 0% 0% 5% 0%;
    }

    .nav3 ul{
        flex-direction: row;
        width: 100%;
    }

    .nav3 li {
        padding: 10% 10% 10% 10%;
    }
}

@media (min-width: 1024px) {

    .div1 {
        flex-flow: row nowrap;
    }

    .div1 h1 {
        margin-top: 2%;
        font-size: xx-large;
    }
    
    .div1 img {
        width: 40%;
    }

    .nav2 {
        width: 45%;
    }

    .nav2 ul{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav2 li {
        margin: 0% 0% 0% 0%;
    }

    main h2 {
        font-size: x-large;
    }

    .fig1 {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    
    .fig1 img {
        width: 40%;
        min-height: 50%;
    }

    .fig2 {
        width: 40%;
    }
    
    .fig2 img {
        width: 20%;
    }

    .nav3 ul{
        flex-direction: row;
    }

    .nav3 li {
        padding: 10% 10% 10% 10%;
    }
}

@media (min-width: 1280px) {

    .fig2 {
        width: 30%;
    }
    
    .fig2 img {
        width: 20%;
    }
}

@media (min-width: 1366px) {

    .div1 h1 {
    margin-top: 2%;
    font-weight: bold;
    }

    .div1 img {
    width: 40%;
    }

    .fig2 {
        width: 25%;
    }
    
    .fig2 img {
        width: 20%;
    }
}

@media (min-width: 1980px) {

    .fig2 {
        width: 20%;
    }
    
    .fig2 img {
        width: 20%;
    }
}